<div>
  <div class="forget-password-container">
    <div class="forget-password-box">
      <div>
        <h2 class="text-center text-primary">Reset Password</h2>
      </div>
      <div class="forget-password-form">
        <form
          [formGroup]="ForgetPasswordForm"
          (ngSubmit)="forgetPassword()"
          [ngClass]="{ 'was-validated': submitted }"
          novalidate
        >
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid': isInvalidField() || invalidEmail ===true,
              }"
              placeholder="Email Address"
              required
            />
            <div *ngIf="isInvalidField()" class="invalid-feedback">
              <small>
                Please enter a valid email address
              </small>
            </div>
            <div *ngIf="invalidEmail == true" class="invalid-feedback">
              <small>
                The email entered is not associated with any account
              </small>
            </div>
          </div>
          <div class="mt-4 mb-3">
            <div class="my-2">
              <a class="text-primary my-2" (click)="navigateTo('/login')">Back to Login</a>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Send Password Reset &#8594;</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <dialog id="Dialog" class="bg-white border-0 shadow">
    <div class="modal-header text-white"
    [ngClass]="{ 'bg-danger': dialog?.type === 'error', 'bg-success': dialog?.type === 'success' }"
    >
      <h5 class="modal-title m-2">{{ dialog?.title }}</h5>
      <button type="button" class="btn-close btn-close-white m-2" (click)="closeDialog()"></button>
    </div>
    <div class="modal-body">
      <p class="text-left m-3">{{ dialog?.message }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary w-25 m-2" (click)="closeDialog()">Close</button>
    </div>
  </dialog>

</div>
