html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.container {
  background: linear-gradient(to bottom, #011943, #3746f1); /* Blue gradient */
  min-height: 100vh; /* Ensures the gradient covers the full viewport height */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diet-plan {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  color: white;
  max-width: 800px; /* Limits the width for better readability */
  width: 100%;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  color: #ffffff;
}

header p {
  font-size: 1.2em;
  color: #dcdcdc;
}

.user-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.user-info div {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  text-align: center;
  margin-bottom: 20px; /* Adds space between rows on smaller screens */
}

.user-info h2 {
  color: #ffffff;
}

.workout-plan {
  margin-top: 20px;
}

.workout-plan h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.calorie-range {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.calorie-range h3 {
  color: #ffffff;
}

.calorie-range p {
  color: #dcdcdc;
}

.workout-button {
  text-align: center;
  margin-top: 40px;
}

.workout-button button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1e90ff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
}

.workout-button button:hover {
  background-color: #1c86ee;
}

.workout-button button i {
  margin-left: 8px;
}
