<div>
  <div class="login-container">
    <div class="login-box">
      <div>
        <h2 class="text-center text-primary">Login</h2>
      </div>
      <div class="login-form">
        <form
          [formGroup]="LoginForm"
          (ngSubmit)="login()"
          [ngClass]="{ 'was-validated': submitted }"
          novalidate
        >
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid': isFieldInvalid('email'),
                'is-valid': !LoginForm.get('email')?.errors?.['required'] && !LoginForm.get('email')?.errors?.['email']
              }"
              placeholder="Email Address"
              required
            />
            <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
              <small *ngIf="LoginForm.get('email')?.errors?.['required']">
                Email is required.
              </small>
              <small *ngIf="LoginForm.get('email')?.errors?.['email']">
                Please enter a valid email address.
              </small>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': isFieldInvalid('password'),
                'is-valid': !LoginForm.get('password')?.errors?.['required']
              }"
              placeholder="Password"
              required
            />
            <div *ngIf="isFieldInvalid('password')" class="invalid-feedback">
              <small>Password is required.</small>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Login &#8594;</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <dialog id="errorDialog" class="bg-white border-0 shadow">
    <div class="modal-header bg-danger text-white">
      <h5 class="modal-title m-2">Login Error</h5>
      <button type="button" class="btn-close btn-close-white m-2" (click)="closeErrorDialog()"></button>
    </div>
    <div class="modal-body">
      <p class="text-left m-3">{{ error }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary w-25 m-2" (click)="closeErrorDialog()">Close</button>
    </div>
  </dialog>

</div>
